<h1>Listing guests</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.first_name %></td>
    <td><%= guest.last_name %></td>
    <td><%= link_to 'Show', [guest.vacation, guest] %></td>
    <td><%= link_to 'Edit', edit_vacation_guest_path(guest.vacation, guest) %></td>
    <td><%= link_to 'Destroy', [guest.vacation, guest], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Guest', new_vacation_guest_path(params[:vacation_id]) %>
