<div class="vacation-item col-md-3 col-sm-5 col-xs-9" id="vacation<%=vacation.id%>">
  <h4 class="text-center" ><%= link_to vacation.name, vacation %></h4>
  <ul>
    <% if vacation.has_start_and_end? %>
      <li><%= vacation.start.strftime("%b %e") %> - <%= vacation.end.strftime("%b %e") %></li>
    <% end %>
    <% if vacation.location %>
      <li><%= vacation.location %></li>
    <% end %>
  </ul>
</div>
