<p id="notice"><%= notice %></p>

<h3>All Your Vacations</h3>
<%= link_to 'Start a New Vacation', new_vacation_path %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacations.each do |vacation| %>
    <p> - <%= link_to vacation.name, vacation %></p>
      <!-- <tr>
        <td><%= link_to 'Edit', edit_vacation_path(vacation) %></td>
        <td><%= link_to 'Destroy', vacation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
    <% end %>
  </tbody>
</table>
