<p id="notice"><%= notice %></p>
<h1><%= @vacation.name %></h1>
<p><%= link_to 'Change Name', edit_vacation_path(@vacation) %></p>

<% @vacation.topics.each do |topic| %>
  <%= link_to topic.name, vacation_topic_path(@vacation, topic) %>
<% end %>

<p><%= link_to 'Guest List', vacation_guests_path(@vacation) %> </p>
<p><%= link_to 'Attractions', vacation_attractions_path(@vacation) %></p>

<% if form_is_closed %>
  <h3>When is the Vacation?</h3>
  <%= render 'start_end_vacation' %>
<% end %>
