<%= form_for([current_vacation, current_topic, @comment]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= hidden_field_tag 'user_id', current_user.id %>
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
