<% ordered_resource(@topic.comments).each do |comment| %>
<div class="comment-container col-md-12">
  <p><%= current_user.full_name %> |
    <% if is_own_comment?(comment) %>
      <%= link_to 'Edit', edit_vacation_topic_comment_path(current_vacation, current_topic, comment) %>
      <%= link_to 'Delete', [current_vacation, current_topic, comment], :confirm => 'Are you sure?', :method => :delete %>
    <% elsif has_superiority?(comment) %>
      <%= link_to 'Delete', [current_vacation, current_topic, comment], :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </p>
  <p><%= comment.content %></p>
</div>
<% end %>

<div class="new-comment-form">
<% if @topic.is_open %>
  <h2>Write a Comment</h2>
  <%= form_for([current_vacation, current_topic, @comment]) do |f| %>
    <div class="field">
      <%= f.text_field :content, placeholder: "Write your comment here" %>
    </div>
    <div class="actions">
      <%= hidden_field_tag 'user_id', current_user.id %>
      <%= f.submit class: 'btn btn-default'%>
    </div>
  <% end %>
<% end %>
</div>

<div class="close-form-button">
<% if is_where_when? %>
  <% if current_user.is_admin %>
    <% if @topic.is_open %>
      <%= form_for([@topic.vacation, @topic], {:method => 'put'}) do |f| %>
        <div class="actions">
          <%= f.hidden_field(:is_open, :value => false) %>
          <%= f.submit :value => "Close Form", class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
