  <p><%= current_user.full_name %> |
    <% if is_own_comment?(comment) %>
      <%= link_to 'Edit', edit_vacation_topic_comment_path(current_vacation, current_topic, comment), class: 'edit-comment' %>
      <%= link_to 'Delete', [current_vacation, current_topic, comment], :confirm => 'Are you sure?', :method => :delete %>
    <% elsif has_superiority?(comment) %>
      <%= link_to 'Delete', [current_vacation, current_topic, comment], :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </p>
  <p class='p-content' id="comment<%=comment.id%>"><%= comment.content %></p>
