<h1>Listing topics</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.description %></td>
    <td><%= topic.name %></td>
    <td><%= link_to 'Show', [topic.vacation, topic] %></td>
    <td><%= link_to 'Edit', edit_vacation_topic_path(topic.vacation, topic) %></td>
    <td><%= link_to 'Destroy', [topic.vacation, topic], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_vacation_topic_path(params[:vacation_id]) %>
