<p id="notice"><%= notice %></p>

<% if !@topic.is_open %>
  <h1> This topic is closed </h1>
<% end %>

<%= link_to 'Go Back', vacation_path(@topic.vacation) %>
<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<%= render ordered_resource(@topic.comments) %>

<% if @topic.is_open %>
  <h2>Write a Comment</h2>
  <%= render 'comments/form' %>

  <% if is_rooming %>
    <%= render 'close' %>
  <% end %>
<% end %>


<% if is_meals? && form_is_closed("Where/When") %>
  <%= render ordered_resource(@vacation.meals) %>
<% end %>
