<p id="notice"><%= notice %></p>


<%= link_to 'Go Back', vacation_path(@topic.vacation) %>
<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<%= render @topic.comments %>

<h2>Write a Comment</h2>
<%= render 'comments/form' %>

<% if meal_form? && form_is_closed %>
  <%= render @vacation.meals %>
<% end %>
