<p id="notice"><%= notice %></p>


<%= link_to 'Go Back', vacation_path(@topic.vacation) %>
<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.description %>
</p>

<%= render @topic.comments %>

<%= link_to "Write a Comment", new_vacation_topic_comment_path(@topic.vacation, @topic) %>
