<div class="password-container">
  <h3 class="text-center">Change Your Passowrd</h3>
  <%= form_for(@user, {:url => "/users/#{@user.id}", :method => 'put'}) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-password">
      <%= f.label :email, class: "sr-only"%>
      <%= f.text_field :email, class: "form-control", value: current_user.email %>
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :old_password, class: "form-control", placeholder: "Current Password", autofocus: "true" %>
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, class: "form-control", placeholder: "New Password" %>
      <%= f.submit value: "Change Passoword", class: "btn btn-default btn-lg btn-block" %>
    </div>
  <% end %>
  <p class="text-left notation"><small>You can always change it again later!</small></p>
</div>
