<div class="form-group">
<%= form_for([current_vacation, @attraction], :html => {class: "form-inline"}) do |f| %>
  <div class="input-group col-md-5">
    <%= f.text_field :name, class: "form-control guest-input", placeholder: "Name" %>
  </div>
  <div class="input-group col-md-5">
    <%= f.text_field :weblink, class: "form-control guest-input", placeholder: "Link" %>
  </div>
  <div class="input-group col-md-5">
    <%= f.text_field :location, class: "form-control guest-input", placeholder: "Location" %>
  </div>
    <%= f.submit class: "btn btn-default btn-sm", value: "Add Attraction" %>
<% end %>
</div>
