<h1>Listing attractions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Weblink</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.name %></td>
    <td><%= attraction.weblink %></td>
    <td><%= attraction.location %></td>
    <td><%= link_to 'Show', [attraction.vacation, attraction] %></td>
    <td><%= link_to 'Edit', edit_vacation_attraction_path(attraction.vacation, attraction) %></td>
    <td><%= link_to 'Remove', [attraction.vacation, attraction], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attraction', new_vacation_attraction_path(params[:vacation_id]) %>
